[package]
name = "asymptote"
version = "0.5.0"
authors = ["Maximilian Lupke <maxlupke@gmail.com>"]
license = "GPL-3.0-only"
edition = "2018"

[dependencies]
rand = "0.5.0"
crossbeam = "0.7"

[profile.release]
lto = true
debug = true
codegen-units = 1

[features]
tune = []
